<aside id="floating-links">
    <a href="https://brad.quest/random" title="Random"><i class="svg-icon" icon-name="shuffle" aria-hidden="true"></i></a>
    <a  href="https://github.com/oakbrad/brad.quest" title="Source Code" target="_blank"><i  icon-name="github" title="GitHub" aria-hidden="true"></i></a>
    <a href="https://brad.quest/feed.xml" title="RSS Feed" target="_blank"><i class="svg-icon" icon-name="rss" aria-hidden="true"></i></a>
</span>
</aside>